---
import { USER_NAME } from "../consts";
---

<footer
  class="relative footer rounded-xl gap-0 items-start card bg-base-100 shadow-xl p-8 items-center"
>
  <nav>
    <div style="display: flex; justify-content: space-between;">
      <div>
        Blog template powered by
        <a
          href="https://github.com/EveSunMaple/Frosti"
          target="_blank"
          class="font-bold">Frosti
        </a>
        ⚡️
      </div>
    </div>
  </nav>
  <aside>
    <div>
      Notebook template (with <a href="https://typst.app/" class="font-bold">typst</a> support) written by myself
    </div>
  </aside>
</footer>
